@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

body {
  height: 100vh;
}

.bg {    
  background: rgba(0, 0, 0, 0.2) url("./steak.png");
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: fixed;
  height: 100vh;
  width: 100vw;

  z-index: -1; /* this is optional */
}

#content {
  position: absolute;
  height: 100%;
  min-height: 100vh;
  /* background-color: lightblue; */

  left: 0px;
  right: 0px;

  

  display: flex;
  flex-direction: column;
}

.header {
  height: 70px;
  left: 0px;
  right: 0px;
  background-color: #17171790; /* neutral 900 */
  color: white;
  font-size: 1.4rem;
  backdrop-filter: blur(8px);

  display: flex;
  align-items: end;
  padding: 0px 16px;
  position: fixed;

  border-bottom: 4px solid rgb(9, 18, 24);
}

.restaurant {
  font-size: 2.8rem;
  font-family: 'Lobster';
}

.links {
  margin-left: auto;
  display: flex;
  gap: 16px;
}
.links>* {
  font-family: "League Gothic";
  font-size: 2.4rem;
}

.main-content {
  flex: 1;
  color: white;
  margin: 8%;
  margin-top: 100px;
}

.home-content,
.menu-content,
.about-content {
  height: 100%;
  background-color: #29252490; /* stone 800 */
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 0px;

  border-top: 8px solid rgb(9, 18, 24);
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img[src$=".svg"] {
  
  margin: 16px;
  margin-bottom: 22px;
  width: 260px;

}

.content-title {
  font-size: 2.5rem;
  font-weight: bold;
  
}

.title-span {
  font-size: 1.1em;
  font-weight: normal;
  font-family: "Lobster";
}

.content-text {
  font-size: 1.4rem;
}

.home-img {
  width: 89%;
  border-radius: 10px;
  outline: 5px solid rgba(9, 18, 24, 0.33);
} 

.home-img:nth-of-type(3) {
  margin-top: 30px;
}

.footer {
  color: cyan;
  margin-top: 20px;

  padding: 4px;
  text-align: center;
  background-color: #171717c9;
}


@media only screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
    height: 110px;
  }

  .main-content {
    margin-top: 140px;
  }

  .content-title{
    line-height: 95%;
    padding-bottom: 10px;
  }

  .content-text {
    font-size: 1.1rem;
  }

  img[src$=".svg"] {

    width: 178px;  
  }

  .home-img {
    width: 100%;
    padding: 0;
    outline: 3px solid rgba(9, 18, 24, 0.33);
  }
}